
* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #f8f8d980;
}
img {
    width: 60%;
    height: auto;
    opacity: 0.2;
    margin-bottom: 50px;
    margin-top: 30px;
}
h1 {
    background-color:#E5E4E2;
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 10px;
    
}


.btn {
  font-family: 'Raleway', sans-serif;
  color: white;
  background-color: #404040;
  
  
}


.container {
  position: relative;
  text-align: center;
  color: black;
  border-style: outset;
  margin: 20px 150px;
 background-color: #f5f5f5;
  
  
}
.centered {
  position: absolute;
  top: 36%;
  left: 25%;
  transform: translate(-50%, -50%);
  transform: rotate(30deg);
  color: white;
  background-color: #40404095;
  box-shadow: 4px 4px #40404070;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  font-family: "Raleway";"sans-serif";
    text-shadow: 1px 1px white;
    font-size: 28px;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
}
nav li {
    
    
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    
    
    
    
}

nav {
 
  padding: 10px 15px;
  word-spacing: 20px;
 
}
nav a {
    text-decoration: none;
    color: white;
    background-color: #404040;
   
    
}

a:hover {
    font-weight: 700;
    font-size: 13px;
    background: url("serce.jpg") no-repeat;
}

nav li+li::before {
    content: "/"
}

h2 .colors {
    margin-bottom: 20px;
}
.box h2 {
    font-size: 25px;
    margin-bottom: 10px;
    padding: 5px;
}
.box {
    border: 2px solid black;
    margin: 1px 50px;
    font-size: 18px;
    background-color: #f5f5f5;
}
h2 {
    color: #000065;
}
.color-panel {
  display: inline-block;
  width: 23%;
  text-align: center;
  margin: 10px auto;
  min-height: 100px;
}

.gray {
    background-color: #404040;
    color: white;
    padding-top: 15px;
    margin: 5px;
}
.darkblue {
    background-color: #000065;
    color: white;
    padding-top: 15px;
    margin: 5px;
}

.Lightbeige {
    background-color:#f8f8d9;
    color:#000065 ;
    padding-top: 15px;
    margin: 5px;
}

.white {
    background-color:whitesmoke;
    color:#000065 ;
    padding-top: 15px;
    margin: 5px;
    border: 1px solid #000065;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
